PORT=3001
CLIENT_URL=http://localhost:5173
SUPABASE_URL=https://yhzhtbebdsxrgwztsxkl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inloemh0YmViZHN4cmd3enRzeGtsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM0NTk5NywiZXhwIjoyMDk0OTIxOTk3fQ.PYipl2XZLpFs7cqXmNGRBqHQZn9sXAGCemJFR6w22jw
GOOGLE_API_KEY=AIzaSyB2ATCXtMfno9k3L9p5h7lFIDvFSjg5ZMI
WALLET_SECRET=SBD2W55J2JL7HNKPBI5VEYG53XQHGOLPQ5KYR6VPOU6P5Z2VJ4ZEEBFN
